html, body {
  width: 100%;
}

.my-carousel {
  border: solid 50px gray;
  width: 50%;
  margin: 0 auto;
}

.slide {
  color: gray;
  padding: 100px 0;
  background-color: lightgray;
  text-align: center;
  font-size: 2rem;
  border: solid 1px gray;
  box-sizing: border-box;
}

.moving-container {
  border-top: solid 50px white;
  border-bottom: solid 50px white;
  transition-timing-function: linear;
}

.button-container {
  padding-top: 20px;
  width: 50%;
  margin: 0 auto;
}
